[project]
	description = The test task
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dmitry Korobeynikov (korbione)
[access "refs/for/refs/*"]
	read = group user/Dmitry Korobeynikov (korbione)
	push = group user/Dmitry Korobeynikov (korbione)
	label-Code-Review = -2..+2 group user/Dmitry Korobeynikov (korbione)
	label-Verified = -1..+1 group user/Dmitry Korobeynikov (korbione)
	rebase = group user/Dmitry Korobeynikov (korbione)
	removeReviewer = group user/Dmitry Korobeynikov (korbione)
	submit = group user/Dmitry Korobeynikov (korbione)
[access "refs/heads/*"]
	read = group user/Dmitry Korobeynikov (korbione)
	create = group user/Dmitry Korobeynikov (korbione)
	push = +force group user/Dmitry Korobeynikov (korbione)
	pushMerge = group user/Dmitry Korobeynikov (korbione)
[access "refs/tags/*"]
	push = group user/Dmitry Korobeynikov (korbione)
	push = +force group user/Dmitry Korobeynikov (korbione)
