<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang='en'">
<head>
	<link rel="stylesheet" media="screen" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>

<body>
<!-- fragment of the user dialog -->
<form th:fragment="user-form" id="userDialogForm" th:classappend="${#fields.hasErrors()} ? 'has-error'"
	  th:object="${user}" th:action="@{/app/users/save}" method="post">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="dialogTitle"
			th:text="*{id} ? #{app.users.dialog.title.edit} : #{app.users.dialog.title.add}">Modal title</h4>
	</div>
	<div class="modal-body panel-body">
		<input type="hidden" th:field="*{id}"/>
		<div class="row">
			<label for="dialogUserName" th:text="#{app.users.dialog.username}"></label>
			<input id="dialogUserName" class="input-sm pull-right" type="text" th:field="*{name}"/>
			<div class="alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
		</div>
		<div class="row">
			<label for="dialogUserPassword" th:text="#{app.users.dialog.password}"></label>
			<input id="dialogUserPassword" class="input-sm pull-right" type="text" th:field="*{password}"/>
			<div class="alert-warning" th:if="${#fields.hasErrors('password')}"
				 th:errors="*{password}"></div>
		</div>
		<div class="row">
			<label for="dialogUserEmail" th:text="#{app.users.dialog.email}"></label>
			<input id="dialogUserEmail" class="input-sm pull-right" type="text" th:field="*{email}"/>
			<div class="alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
		</div>
		<div class="row" th:classappend="${#lists.size(roles) &lt; 2} ? 'hidden'">
			<label for="userRole" th:text="#{app.users.dialog.role}"></label>
			<div class="pull-right" style="display: inline-flex">
				<div th:if="${#lists.size(roles) > 1}" id="userRoleDropdown" class="dropdown">
					<a id="dropdownMenu" class="btn dropdown-toggle"
					   data-toggle="dropdown"><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li th:each="role : ${roles}">
							<a onclick="$('#userRole').val($(this).text())" th:text="${role}">Role</a>
						</li>
					</ul>
				</div>
				<input id="userRole" type="text" readonly="readonly" class="input-sm" th:field="*{role}"/>
				<div class="alert-warning" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<input type="button" class="btn btn-default" data-dismiss="modal"
			   th:value="#{app.dialog.close}"/>
		<input type="submit" class="btn btn-primary" th:value="#{app.dialog.save}"/>
	</div>
</form>
</body>
</html>