<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:data="...">
<head>
	<link rel="stylesheet" media="screen" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>

<body>
<table>
	<!-- fragment of the users table row -->
	<tr th:fragment="row" class="row" data:user="${user.toJson()}" th:each="user, iterStat : ${users}">
		<td id="index" th:text="${iterStat.count}">0</td>
		<td th:text="${user.name}">unknown name</td>
		<td th:text="${user.email}"></td>
		<td>
			<button id="editUser" type="button" class="btn btn-xs btn-success" onclick="editUser($(this))"
					data-toggle="modal" data-target="#userDialog">
				<span class="glyphicon glyphicon-pencil"></span>
			</button>

			<button id="removeUser" type="button" class="btn btn-xs btn-danger" onclick="removeUser($(this))">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</td>
	</tr>
</table>

<!-- fragment of the users table -->
<div th:fragment="users-table" th:remove="tag">
	<a id="addUser" class="btn btn-lg btn-success btn-space" data-toggle="modal" data-target="#userDialog"
	   th:text="#{app.tab.users.add}">Add new user</a>

	<table id="usersTable" class="table">
		<thead>
		<tr class="row">
			<th>#</th>
			<th th:text="#{app.tab.users.column.name}">NAME</th>
			<th th:text="#{app.tab.users.column.email}">Email</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
			<tr th:replace="fragments/users :: row"></tr>
		</tbody>
	</table>

	<!-- user dialog -->
	<div id="userDialog" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="form">
			<div class="modal-content panel-body">
				<div id="userDialogForm"></div>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		/*<![CDATA[*/
		function pullDialogForm($row) {
			var user = $row ? $row.data('user') : null;
			$.ajax({
				url: 'app/users/form',
				data: user,
				success: function (response) {
					$('#userDialogForm').replaceWith(response);

					var $dialog = $('#userDialog');
					var $table = $('#usersTable');
					bindFormSubmit($dialog, $table, $row);
				}
			});
		}

		function editUser(source) {
			var $row = source.parents('tr');
			pullDialogForm($row);
		}

		function removeUser(source) {
			var $row = source.parents('tr');
			var id = $row.data('user').id;
			$.ajax({
				url: "app/users/" + id,
				type: "delete"
			}).success(function () {
				$row.remove();
				calcTableIdx($('#usersTable'));
			});
		}

		$(document).ready(function () {
			$('#addUser').click(function () {
				pullDialogForm();
			});

			$('#userDialog').on('hidden.bs.modal', function () {
				// remove the dialog content to prevent blinking while next show
				$(this).find('#userDialogForm').replaceWith('<div id="userDialogForm"></div>');
			});
		});
		/*]]>*/
	</script>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>