.background {
	position: fixed;
	width: 100%;
	height: 100%;
	background: url("../images/background.png") no-repeat center center fixed;
	background-size: cover;
	filter: blur(10px);
	-webkit-filter: blur(10px);
	-ms-filter: blur(10px);
}

.login-form {
	position: absolute;
	height: 100%;

	left: 50%;
	transform: translateX(-50%);

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login-form .input-lg {
	margin: 0.5em 0;
}

.login-form input[type=submit] {
	margin-top: 1em;
}

.title {
	color: #337ab7;
	font-size: 4em;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}