.login-form {
	position: absolute;
	height: 100%;

	left: 50%;
	transform: translateX(-50%);

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login-form > div {
	margin: 1em 0;
}

.login-form .text-field {
	float: right;
	margin-left: 10px;
	border-style: groove;
}

.title {
	font-size: 3em;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}