<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title th:text="#{app.page.title}"></title>

	<link type="text/css" rel="stylesheet" th:href="@{/css/app.css}" href="../static/css/app.css"/>
	<link rel="stylesheet" media="screen" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>

<body>
<div class="panel-body">
	<ul id="actionTabs" class="nav nav-tabs">
		<li sec:authorize="hasAnyAuthority('ADOPS', 'ADMIN')">
			<a href="#users" data-toggle="tab" onclick="fetchUsers()" th:text="#{app.tab.users.title}">Users</a>
		</li>
		<li>
			<a href="#products" data-toggle="tab" th:text="#{app.tab.products.title}">Products</a>
		</li>
		<li class="pull-right">
			<form id="logoutForm" th:action="@{/logout}" action="/logout" method="post">
				<input class="btn btn-primary" type="submit" th:value="#{app.logout}" value="Logout"/>
			</form>
		</li>
		<li class="pull-right">
			<div th:replace="fragments/locale :: locale"></div>
		</li>
	</ul>
	<div id="actionTabsContent" class="tab-content">
		<div id="users" class="tab-pane fade form-group">
			<div id="resultUsers"></div>
		</div>
		<div id="products" class="tab-pane fade form-group">
			<label>hello, product</label>
		</div>
	</div>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/common.js}" src="../static/js/common.js"></script>
<script>
	$(function () {
		$('#actionTabs').find('a:first').tab('show');
        fetchUsers();
	});

    function fetchUsers() {
        $('#resultUsers').load('/app/users');
    }
</script>
</body>
</html>