<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title th:text="#{login.page.title}"></title>

	<link type="text/css" rel="stylesheet" th:href="@{/css/login.css}" href="../static/css/login.css"/>
	<link rel="stylesheet" media="screen" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>

<body>
<div class="background"></div>
<div class="pull-right">
	<div th:replace="fragments/locale :: locale"></div>
</div>
<form class="login-form" th:action="@{/login}" method="POST">
	<label class="title" th:text="#{login.title}"></label>
	<p class="label-warning"
	   th:with="errMsg=(${param.error} != null ? #{login.wrong} : (${param.logout} != null ? #{login.logout} : null))"
	   th:if="(errMsg) != null" th:text="${errMsg}"></p>
	<input id="user_name" type="text" name="username" class="input-lg" th:title="#{login.username}" title="Login name"
		   th:placeholder="#{login.input.username.placeholder}"/>
	<input id="user_password" type="password" name="password" class="input-lg" th:title="#{login.password}"
		   title="Password"
		   th:placeholder="#{login.input.password.placeholder}"/>
	<input class="btn btn-lg btn-primary btn-block" type="submit" th:value="#{login.submit}"/>
</form>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/common.js}" src="../static/js/common.js"></script>
</body>
</html>